kind: Deployment
apiVersion: apps/v1
metadata:
  name: abctechnologies-kapdep
spec:
  replicas: 4
  minReadySeconds: 45
  # strategy:
  #   type: RollingUpdate
  #   rollingUpdate:
  #     maxUnavailable: 1
  #     maxSurge: 2
  selector:
    matchLabels:
      app: abc-tech-kapapp
  template:
    metadata:
      labels:
        app: abc-tech-kapapp
    spec:
      containers:
      - image: helloworld1977/helloworld:kapilproject2
        name: app
---
kind: Service
apiVersion: v1
metadata:
  name: abc-tech-service
spec:
  type: NodePort
  selector:
    app: abc-tech-kapapp
  ports:
  - port: 80  # Cluster port number
    targetPort: 8080
    nodePort: 31500
